flow.json
[
    {
        "id": "b43ac849.4051e",
        "type": "tab",
        "label": "Pressure",
        "disabled": false,
        "info": ""
    },
    {
        "id": "91d5d206.71d94",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#676767",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#676767",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#676767",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#8d8d8d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#676767",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6718eaff.5cc0c4",
        "type": "ui_tab",
        "z": "",
        "name": "Pressure",
        "icon": "fa-tachometer",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3d3cdbae.9df2c4",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "fa-check-square",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cf35c896.375ae8",
        "type": "ui_group",
        "z": "",
        "name": "Monitor",
        "tab": "6718eaff.5cc0c4",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7df1b373.39877c",
        "type": "ui_group",
        "z": "",
        "name": "Sensor",
        "tab": "3d3cdbae.9df2c4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "39f896d0.3d2ada",
        "type": "ui_group",
        "z": "",
        "name": "System",
        "tab": "3d3cdbae.9df2c4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "674ed6bb.fb7448",
        "type": "ui_group",
        "z": "",
        "name": "Debug",
        "tab": "6718eaff.5cc0c4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4435e6b8.8f7528",
        "type": "ui_group",
        "z": "",
        "name": "Cloud Settings",
        "tab": "3d3cdbae.9df2c4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5757e3d3.7b8f1c",
        "type": "inject",
        "z": "b43ac849.4051e",
        "name": "Start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "db3679e2.e9d4e8",
                "d7a02044.b13cc"
            ]
        ]
    },
    {
        "id": "f064e597.cce9d8",
        "type": "i2c scan",
        "z": "b43ac849.4051e",
        "x": 520,
        "y": 60,
        "wires": [
            [
                "f865f012.46eb3"
            ],
            []
        ]
    },
    {
        "id": "46c82397.265dcc",
        "type": "i2c out",
        "z": "b43ac849.4051e",
        "name": "Set automatic mode",
        "address": "",
        "command": "2",
        "payload": "-32",
        "payloadType": "num",
        "count": "1",
        "x": 920,
        "y": 60,
        "wires": [
            [
                "176e31df.f5048e"
            ]
        ]
    },
    {
        "id": "176e31df.f5048e",
        "type": "debug",
        "z": "b43ac849.4051e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "address",
        "targetType": "msg",
        "x": 1130,
        "y": 60,
        "wires": []
    },
    {
        "id": "143dcd2d.f9f5d3",
        "type": "comment",
        "z": "b43ac849.4051e",
        "name": "",
        "info": "0xE0 (-32) enables automatic conversion @Tx2048 which provides 0,4 ksps",
        "x": 920,
        "y": 20,
        "wires": []
    },
    {
        "id": "59d64ad1.5ef994",
        "type": "inject",
        "z": "b43ac849.4051e",
        "name": "Read",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "547d0167.90e0b"
            ]
        ]
    },
    {
        "id": "f723afc5.d68d2",
        "type": "i2c in",
        "z": "b43ac849.4051e",
        "name": "Read binary value",
        "address": "",
        "command": "0",
        "count": "2",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "3781f075.d0f51"
            ]
        ]
    },
    {
        "id": "3781f075.d0f51",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "Get adc value",
        "func": "var raw_adc = (msg.payload[0] & 0x0F) * 256 + msg.payload[1];\nmsg.raw_adc = raw_adc;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "7eb58181.ad997"
            ]
        ]
    },
    {
        "id": "f9e1faeb.119d68",
        "type": "ui_gauge",
        "z": "b43ac849.4051e",
        "name": "",
        "group": "cf35c896.375ae8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.devicename}}",
        "label": "{{msg.pressure_label}}",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1570,
        "y": 380,
        "wires": []
    },
    {
        "id": "bfe4be57.d9a",
        "type": "ui_chart",
        "z": "b43ac849.4051e",
        "name": "",
        "group": "674ed6bb.fb7448",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "mm:ss",
        "interpolate": "linear",
        "nodata": "No data to display",
        "dot": false,
        "ymin": "2000",
        "ymax": "2100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1830,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "c8026dfb.e7aa5",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "raw_adc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "pressure_label",
                "pt": "msg",
                "to": "pressure_label",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 220,
        "wires": [
            [
                "bfe4be57.d9a",
                "2158fa24.debb06",
                "9e8ebbf2.8b8a68"
            ]
        ]
    },
    {
        "id": "bede8be4.54de28",
        "type": "ui_dropdown",
        "z": "b43ac849.4051e",
        "name": "Sensor type",
        "label": "Sensor type:",
        "tooltip": "",
        "place": "Select option",
        "group": "7df1b373.39877c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "0 - 5 Bar",
                "value": "0to5_bar",
                "type": "str"
            },
            {
                "label": "0 - 12 Bar",
                "value": "0to12_bar",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 550,
        "y": 480,
        "wires": [
            [
                "4425c386.d6905c"
            ]
        ]
    },
    {
        "id": "7eb58181.ad997",
        "type": "smooth",
        "z": "b43ac849.4051e",
        "name": "",
        "property": "raw_adc",
        "action": "low",
        "count": "4",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "c8026dfb.e7aa5",
                "6e1be725.32a228",
                "7180e201.f0bc3c",
                "1e90a639.70607a"
            ]
        ]
    },
    {
        "id": "65bef1f9.9d9b9",
        "type": "ui_dropdown",
        "z": "b43ac849.4051e",
        "name": "Pressure unit",
        "label": "Unit:",
        "tooltip": "",
        "place": "Select option",
        "group": "7df1b373.39877c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Bar",
                "value": "BAR",
                "type": "str"
            },
            {
                "label": "psi",
                "value": "PSI",
                "type": "str"
            },
            {
                "label": "kPa",
                "value": "KPA",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 550,
        "y": 540,
        "wires": [
            [
                "1f3ed97a.a6aae7"
            ]
        ]
    },
    {
        "id": "584cafc1.5ae0a",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "bar",
        "rules": [
            {
                "t": "set",
                "p": "pressure_conversion",
                "pt": "flow",
                "to": "100000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pressure_unit",
                "pt": "flow",
                "to": "BAR",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 520,
        "wires": [
            [
                "bea0e5c3.54df78"
            ]
        ]
    },
    {
        "id": "1f3ed97a.a6aae7",
        "type": "switch",
        "z": "b43ac849.4051e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BAR",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PSI",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "KPA",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "584cafc1.5ae0a"
            ],
            [
                "631bde1a.6d4a7"
            ],
            [
                "a0247667.db1b88"
            ]
        ]
    },
    {
        "id": "631bde1a.6d4a7",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "psi",
        "rules": [
            {
                "t": "set",
                "p": "pressure_conversion",
                "pt": "flow",
                "to": "6895",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pressure_unit",
                "pt": "flow",
                "to": "PSI",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "bea0e5c3.54df78"
            ]
        ]
    },
    {
        "id": "a0247667.db1b88",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "kPa",
        "rules": [
            {
                "t": "set",
                "p": "pressure_conversion",
                "pt": "flow",
                "to": "1000",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "pressure_unit",
                "pt": "flow",
                "to": "KPA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 600,
        "wires": [
            [
                "bea0e5c3.54df78"
            ]
        ]
    },
    {
        "id": "6e1be725.32a228",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "calculate pressure",
        "func": "var adc_zero_offset = flow.get('adc_zero_offset') || 0;\nvar sensor_min_adc = flow.get('sensor_min_adc') || 0;\nvar sensor_max_adc = flow.get('sensor_max_adc') || 4095;\nvar raw_adc = msg.raw_adc;\nvar pressure = ((raw_adc + adc_zero_offset - sensor_min_adc) * flow.get('sensor_range')) / ((sensor_max_adc - sensor_min_adc) * flow.get('pressure_conversion'));\n\nmsg.pressure = pressure;\nmsg.payload = pressure.toFixed(flow.get('pressure_decimals'));\nmsg.devicename = flow.get('devicename');\nmsg.pressure_label = flow.get('pressure_label');\nmsg.pressure_unit = flow.get('pressure_unit');\n\nflow.set('pressure', pressure);\nflow.set('raw_adc', raw_adc);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1290,
        "y": 300,
        "wires": [
            [
                "f9e1faeb.119d68",
                "ae533b1f.9a4388",
                "8e0163ae.a8aa8"
            ]
        ]
    },
    {
        "id": "bea0e5c3.54df78",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "configure gauge",
        "func": "var ui_control = {};\nvar pressure_label;\nvar pressure_decimals;\nui_control.min = 0;\n\nswitch(flow.get('pressure_unit')) {\n    default:\n    case \"BAR\":\n        ui_control.max = 3;\n        ui_control.seg1 = 1;\n        ui_control.seg2 = 2;\n        pressure_label = \"Bar\";\n        pressure_decimals = 2;\n    break;\n    case \"PSI\":\n        ui_control.max = 40;\n        ui_control.seg1 = 14.5;\n        ui_control.seg2 = 29.0;\n        pressure_label = \"psi\";\n        pressure_decimals = 1;\n    break;\n    case \"KPA\":\n        ui_control.max = 300;\n        ui_control.seg1 = 100;\n        ui_control.seg2 = 200;\n        pressure_label = \"kPa\";\n        pressure_decimals = 0;\n    break;\n}\n        \nflow.set('pressure_label', pressure_label);\nflow.set('pressure_decimals', pressure_decimals);\n\nmsg = {};\nmsg.pressure_label = pressure_label;\nmsg.ui_control = ui_control;\nmsg.devicename = flow.get('devicename');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1280,
        "y": 380,
        "wires": [
            [
                "f9e1faeb.119d68"
            ]
        ]
    },
    {
        "id": "ae533b1f.9a4388",
        "type": "debug",
        "z": "b43ac849.4051e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1490,
        "y": 260,
        "wires": []
    },
    {
        "id": "ee91c2e2.5db18",
        "type": "ui_button",
        "z": "b43ac849.4051e",
        "name": "",
        "group": "39f896d0.3d2ada",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "shutdown",
        "payloadType": "str",
        "topic": "",
        "x": 290,
        "y": 1240,
        "wires": [
            [
                "63785b9c.88bfc4"
            ]
        ]
    },
    {
        "id": "63785b9c.88bfc4",
        "type": "exec",
        "z": "b43ac849.4051e",
        "command": "sudo shutdown",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "shutdown",
        "x": 470,
        "y": 1240,
        "wires": [
            [
                "85393da0.c1ef3"
            ],
            [],
            []
        ]
    },
    {
        "id": "85393da0.c1ef3",
        "type": "ui_toast",
        "z": "b43ac849.4051e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 750,
        "y": 1280,
        "wires": []
    },
    {
        "id": "da16a8c9.ba1f48",
        "type": "ui_button",
        "z": "b43ac849.4051e",
        "name": "",
        "group": "39f896d0.3d2ada",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Restart",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Restart",
        "payloadType": "str",
        "topic": "",
        "x": 280,
        "y": 1320,
        "wires": [
            [
                "3fca8ce6.d02364"
            ]
        ]
    },
    {
        "id": "3fca8ce6.d02364",
        "type": "exec",
        "z": "b43ac849.4051e",
        "command": "sudo reboot",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "reboot",
        "x": 460,
        "y": 1320,
        "wires": [
            [
                "85393da0.c1ef3"
            ],
            [],
            []
        ]
    },
    {
        "id": "7180e201.f0bc3c",
        "type": "smooth",
        "z": "b43ac849.4051e",
        "name": "max",
        "property": "raw_adc",
        "action": "max",
        "count": "600",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1250,
        "y": 140,
        "wires": [
            [
                "e8639fa.477ef6"
            ]
        ]
    },
    {
        "id": "1e90a639.70607a",
        "type": "smooth",
        "z": "b43ac849.4051e",
        "name": "min",
        "property": "raw_adc",
        "action": "min",
        "count": "600",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 1250,
        "y": 180,
        "wires": [
            [
                "8fc3c3ff.1a957"
            ]
        ]
    },
    {
        "id": "e8639fa.477ef6",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "max",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 140,
        "wires": [
            [
                "8a51e870.331958"
            ]
        ]
    },
    {
        "id": "8a51e870.331958",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "set min/max",
        "func": "var ui_control = {};\n\nswitch(msg.topic) {\n    case \"max\":\n        context.set('max', msg.raw_adc);\n    break;\n    case \"min\":\n        context.set('min', msg.raw_adc);\n    break;\n}\n\nui_control.ymin = context.get('min');\nui_control.ymax = context.get('max');\n\nmsg = {};\nmsg.ui_control = ui_control;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1650,
        "y": 140,
        "wires": [
            [
                "bfe4be57.d9a"
            ]
        ]
    },
    {
        "id": "8fc3c3ff.1a957",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "min",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 180,
        "wires": [
            [
                "8a51e870.331958"
            ]
        ]
    },
    {
        "id": "2158fa24.debb06",
        "type": "ui_text",
        "z": "b43ac849.4051e",
        "group": "674ed6bb.fb7448",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ADC:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1830,
        "y": 200,
        "wires": []
    },
    {
        "id": "83ce363b.625888",
        "type": "ui_text",
        "z": "b43ac849.4051e",
        "group": "674ed6bb.fb7448",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Voltage",
        "format": "{{msg.payload}} Vdc",
        "layout": "row-spread",
        "x": 1840,
        "y": 240,
        "wires": []
    },
    {
        "id": "9e8ebbf2.8b8a68",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "calc voltage",
        "func": "var voltage = (msg.raw_adc * 5.0) / 4095.0;\nmsg.payload = voltage.toFixed(3);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1650,
        "y": 240,
        "wires": [
            [
                "83ce363b.625888"
            ]
        ]
    },
    {
        "id": "f51459ea.544a48",
        "type": "ui_button",
        "z": "b43ac849.4051e",
        "name": "",
        "group": "7df1b373.39877c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Calibrate to Zero Pressure",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 380,
        "y": 660,
        "wires": [
            [
                "191ab2ca.91ee9d"
            ]
        ]
    },
    {
        "id": "191ab2ca.91ee9d",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "set zero offset",
        "func": "var raw_adc = flow.get('raw_adc') || 0;\nvar sensor_min_adc = flow.get('sensor_min_adc') || 0;\nvar adc_zero_offset = sensor_min_adc - raw_adc;\nflow.set('adc_zero_offset', adc_zero_offset);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "db3679e2.e9d4e8",
        "type": "delay",
        "z": "b43ac849.4051e",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 60,
        "wires": [
            [
                "f064e597.cce9d8"
            ]
        ]
    },
    {
        "id": "f865f012.46eb3",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "get i2c address",
        "func": "var adc_i2c_addr = msg.payload[0] || 0;\n\nflow.set('adc_i2c_addr', adc_i2c_addr);\nmsg.address = adc_i2c_addr;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 700,
        "y": 60,
        "wires": [
            [
                "46c82397.265dcc"
            ]
        ]
    },
    {
        "id": "547d0167.90e0b",
        "type": "switch",
        "z": "b43ac849.4051e",
        "name": "adc found?",
        "property": "adc_i2c_addr",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "4679bd83.a775f4"
            ]
        ]
    },
    {
        "id": "4679bd83.a775f4",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "address",
                "pt": "msg",
                "to": "adc_i2c_addr",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "f723afc5.d68d2"
            ]
        ]
    },
    {
        "id": "d7a02044.b13cc",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "set defaults",
        "func": "var defaults_set = flow.get('defaults_set') || false;\nif(defaults_set === false) {\n    flow.set('sensor_type', '0to5_bar');\n    flow.set('pressure_unit', 'BAR');\n    flow.set('defaults_set', true);\n    flow.set('cloud_logging_url', \"\");\n    flow.set('log_to_cloud', false);\n    flow.set('cloud_logging_interval',15);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "bea0e5c3.54df78",
                "e6ad8f78.9fce7",
                "d2e4e48f.bb32c8",
                "53f0f706.16b848",
                "ae4e9e4a.f1abb",
                "eec5672.3b26398",
                "dae9f89f.cc68c8"
            ]
        ]
    },
    {
        "id": "4425c386.d6905c",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "set sensor parameters",
        "func": "switch(msg.payload) {\n    default:\n    case \"0to5_bar\":\n        // Pressure range: 0-0.5 MPa, Output Voltage: 0.5-4.5V DC\n        flow.set('sensor_range', 500000);\n        flow.set('sensor_min_adc', 410);\n        flow.set('sensor_max_adc', 3686);\n    break;\n    case \"0to12_bar\":\n        // Pressure range: 0-1.2 MPa, Output Voltage: 0.5-4.5V DC\n        flow.set('sensor_range', 1200000);\n        flow.set('sensor_min_adc', 410);\n        flow.set('sensor_max_adc', 3686);\n    break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e6ad8f78.9fce7",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sensor_type",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 480,
        "wires": [
            [
                "bede8be4.54de28"
            ]
        ]
    },
    {
        "id": "d2e4e48f.bb32c8",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pressure_unit",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 540,
        "wires": [
            [
                "65bef1f9.9d9b9"
            ]
        ]
    },
    {
        "id": "c0b463f5.c78e8",
        "type": "ui_text_input",
        "z": "b43ac849.4051e",
        "name": "Cloud URL",
        "label": "Cloud URL [use RETURN to save]",
        "tooltip": "",
        "group": "4435e6b8.8f7528",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 530,
        "y": 780,
        "wires": [
            [
                "322a0dee.fa0922"
            ]
        ]
    },
    {
        "id": "828b9ff1.ff817",
        "type": "ui_switch",
        "z": "b43ac849.4051e",
        "name": "Start Logging to the Cloud",
        "label": "Start Logging to the Cloud",
        "tooltip": "",
        "group": "4435e6b8.8f7528",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 580,
        "y": 840,
        "wires": [
            [
                "87fe0464.4d8938"
            ]
        ]
    },
    {
        "id": "95fc88a7.1a3ea8",
        "type": "ui_slider",
        "z": "b43ac849.4051e",
        "name": "",
        "label": "Time Interval",
        "tooltip": "",
        "group": "4435e6b8.8f7528",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "5",
        "max": "60",
        "step": "5",
        "x": 530,
        "y": 900,
        "wires": [
            [
                "33184c14.44c774",
                "f82d86fd.26fa98"
            ]
        ]
    },
    {
        "id": "33184c14.44c774",
        "type": "ui_text",
        "z": "b43ac849.4051e",
        "group": "4435e6b8.8f7528",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Minutes:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 780,
        "y": 900,
        "wires": []
    },
    {
        "id": "53f0f706.16b848",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cloud_logging_url",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 780,
        "wires": [
            [
                "c0b463f5.c78e8"
            ]
        ]
    },
    {
        "id": "ae4e9e4a.f1abb",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "log_to_cloud",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 840,
        "wires": [
            [
                "828b9ff1.ff817"
            ]
        ]
    },
    {
        "id": "eec5672.3b26398",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cloud_logging_interval",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 900,
        "wires": [
            [
                "95fc88a7.1a3ea8"
            ]
        ]
    },
    {
        "id": "322a0dee.fa0922",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cloud_logging_url",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "f82d86fd.26fa98",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cloud_logging_interval",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "8e0163ae.a8aa8",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "Setup cloud post",
        "func": "var postEnabled = (flow.get('log_to_cloud'))||false;\nvar interval = flow.get('cloud_logging_interval')||15;\ninterval *= 60000;\nif (postEnabled && flow.get('cloud_logging_url')){\n    var lastPost = flow.get('lastpost')||0;\n\n    if (msg.timestamp - lastPost > interval){\n        flow.set('lastpost' , msg.timestamp);\n        msg.headers = {};\n        msg.headers['Content-type'] = 'application/json';\n        msg.url = flow.get('cloud_logging_url');\n        payload = \n            {\"name\":msg.devicename,\n            \"comment\":flow.get('comment'),\n            \"pressure\":msg.pressure,\n            \"pressure_unit\":msg.pressure_unit};\n        msg.payload = JSON.stringify(payload);\n\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1620,
        "y": 320,
        "wires": [
            [
                "65252f1a.ca0fa",
                "7f8ccbc3.897b64"
            ]
        ]
    },
    {
        "id": "65252f1a.ca0fa",
        "type": "debug",
        "z": "b43ac849.4051e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1790,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd7b11a3.94488",
        "type": "ui_text_input",
        "z": "b43ac849.4051e",
        "name": "Device Name",
        "label": "Device Name [use RETURN to save]",
        "tooltip": "",
        "group": "7df1b373.39877c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "780dd3d1.e54f2c"
            ]
        ]
    },
    {
        "id": "780dd3d1.e54f2c",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "devicename",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "dae9f89f.cc68c8",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "devicename",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "fd7b11a3.94488"
            ]
        ]
    },
    {
        "id": "7f8ccbc3.897b64",
        "type": "http request",
        "z": "b43ac849.4051e",
        "name": "Log to cloud",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1840,
        "y": 320,
        "wires": [
            [
                "e74bb27a.95dea"
            ]
        ]
    },
    {
        "id": "bd861694.4750d8",
        "type": "ui_button",
        "z": "b43ac849.4051e",
        "name": "",
        "group": "7df1b373.39877c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Calibration",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 700,
        "wires": [
            [
                "7540c4ea.89754c"
            ]
        ]
    },
    {
        "id": "7540c4ea.89754c",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "Reset calibration",
        "func": "flow.set('adc_zero_offset', 0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b26f16e4.014de8",
        "type": "catch",
        "z": "b43ac849.4051e",
        "name": "Cloud logging errors",
        "scope": [
            "7f8ccbc3.897b64"
        ],
        "uncaught": false,
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "f223e498.9bbee8",
                "7a32a6fb.52df68"
            ]
        ]
    },
    {
        "id": "f223e498.9bbee8",
        "type": "template",
        "z": "b43ac849.4051e",
        "name": "Format error",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert: {{error.message}}",
        "output": "str",
        "x": 1650,
        "y": 500,
        "wires": [
            [
                "21f01fbe.6008a"
            ]
        ]
    },
    {
        "id": "21f01fbe.6008a",
        "type": "ui_toast",
        "z": "b43ac849.4051e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1850,
        "y": 500,
        "wires": []
    },
    {
        "id": "7a32a6fb.52df68",
        "type": "debug",
        "z": "b43ac849.4051e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1660,
        "y": 560,
        "wires": []
    },
    {
        "id": "e97ffcda.de57a",
        "type": "ui_text_input",
        "z": "b43ac849.4051e",
        "name": "",
        "label": "Comment [use RETURN to send]",
        "tooltip": "",
        "group": "4435e6b8.8f7528",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 600,
        "y": 1000,
        "wires": [
            [
                "9181fea8.94672",
                "727f1625.57fc48"
            ]
        ]
    },
    {
        "id": "9181fea8.94672",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "Send comment",
        "func": "var comment = msg.payload;\nif(comment !== \"\") {\n    flow.set('comment', comment);\n    flow.set('lastpost', 0);\n    msg.payload = \"Sending: \" + comment;\n\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 1000,
        "wires": [
            [
                "dc9645e0.515b08"
            ]
        ]
    },
    {
        "id": "dc9645e0.515b08",
        "type": "ui_toast",
        "z": "b43ac849.4051e",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 1270,
        "y": 940,
        "wires": []
    },
    {
        "id": "e74bb27a.95dea",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "Clear comment",
        "func": "flow.set('comment', '');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2130,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "727f1625.57fc48",
        "type": "delay",
        "z": "b43ac849.4051e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "4b490774.ab9fd8"
            ]
        ]
    },
    {
        "id": "4b490774.ab9fd8",
        "type": "change",
        "z": "b43ac849.4051e",
        "name": "clear comment",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "e97ffcda.de57a"
            ]
        ]
    },
    {
        "id": "87fe0464.4d8938",
        "type": "function",
        "z": "b43ac849.4051e",
        "name": "set cloud logging",
        "func": "flow.set('log_to_cloud',msg.payload);\nflow.set('lastpost', 0);\n\nif (msg.payload){\n    msg.payload = \"Logging request sent. Waiting for response.\";\n}\nelse {\n    msg.payload = \"Logging disabled.\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 910,
        "y": 840,
        "wires": [
            [
                "dc9645e0.515b08"
            ]
        ]
    },
    {
        "id": "9d4d64ab.616698",
        "type": "ui_ui_control",
        "z": "b43ac849.4051e",
        "name": "",
        "events": "all",
        "x": 340,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "94bc5a1b.1b60b8",
        "type": "inject",
        "z": "b43ac849.4051e",
        "name": "Hide Debug",
        "topic": "",
        "payload": "{\"group\":{\"hide\":[\"Logging_Debug\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1530,
        "y": 40,
        "wires": [
            [
                "1eb597d1.9d4bf8"
            ]
        ]
    },
    {
        "id": "1eb597d1.9d4bf8",
        "type": "ui_ui_control",
        "z": "b43ac849.4051e",
        "name": "Debug Group",
        "x": 1760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f9711bd8.4f1ce8",
        "type": "inject",
        "z": "b43ac849.4051e",
        "name": "Show Debug",
        "topic": "",
        "payload": "{\"group\":{\"show\":[\"Logging_Debug\"]}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1530,
        "y": 80,
        "wires": [
            [
                "1eb597d1.9d4bf8"
            ]
        ]
    }
]